*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

// borders

.drr {
	border: 2px solid red;
}

.dbb {
	border: 2px solid blue;
}

.dgg {
	border: 2px solid green;
}

.dyy {
	border: 2px solid yellow;
}

.dpp {
	border: 2px solid pink;
}

// fully done - dmitri done border
.ddb {
	border: 1px solid gray;
}

// backgrounds

.bgr {
	background-color: red;
}

.bgb {
	background-color: blue;
}

.bgg {
	background-color: green;
}

.bgd {
	background-color: lightgray;
}

.bgy {
	background-color: yellow;
}

.bgo {
	background-color: orange;
}

.bgpnk {
	background-color: pink;
}

//********************************************************************
//          GENERAL CODE
// *******************************************************************

//TODO HEADING ARE H3 by default

.addPadding20 {
	padding: 20px;
}

.addPadding60 {
	padding: 60px;
}

.cursorPointer {
	cursor: pointer;
}

.warningText {
	font-weight: 700;
	color: red;
}

//********************************************************************
//         NavBar
// *******************************************************************
nav {
	border: 1px solid blue;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

nav .LoginAndGetStartedBox {
	display: flex;
	column-gap: 10px;
}

//********************************************************************
//         InvestorRegistration
// *******************************************************************
.invReg_CountryCodeAndTelephone {
	display: flex;
}

//********************************************************************
//          Dashboard NavBar
// *******************************************************************
.DashboardNavBar_Container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.DashboardNavBar_Container_RightItemsBox {
	display: flex;
	gap: 10px;
}

.DashboardNavBar_Container_RightItemsBox_ShowAddFundsContainer {
	position: relative;
}

.DashboardNavBar_Container_RightItemsBox_ShowAddFundsContainer_AddFundsDropdown {
	position: absolute;
}

//********************************************************************
//          Marketplace projects
// *******************************************************************

.MarketplaceContainer_SingleProject {
	border: 2px solid gray;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.MarketplaceContainer_SingleProject:hover {
	border: 2px solid red;
	cursor: pointer;
}

.MarketplaceContainer_SingleProject div {
	margin-bottom: 1rem;
}

.MarketplaceContainer_SingleProject ul li {
	margin-bottom: 1rem;
}

.MarketplaceContainer a {
	color: black;
	text-decoration: none;
}

//********************************************************************
//          Projects page
// *******************************************************************
.ProjectsContainer_ProjectSliderBackground {
	width: 100%;
	background-color: lightgray;
	height: 10px;
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.ProjectsContainer_ProjectSliderBackground_ProgressBar {
	height: 14px;
	background-color: blue;
	position: absolute;
	top: -2px;
	left: 0;
}

.ProjectsContainer_ProjectSliderBackground_ProgressAmount {
	position: absolute;
	top: -25px;
}

.ProjectsContainer_ProjectSliderBackground_ProgressAmount_Figure {
	position: absolute;
	left: -40px;
}

.ProjectsContainer_AmountToInvestInputContainer {
	display: flex;
}

.ProjectsContainer_AmountToInvestInputContainer input {
	width: 7rem;
}
